<div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Name" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>

<br/><hr/><br/>

<div class="container">
      <div class="row">
        <div class="col-md-4">Project</div>
        <div class="col-md-3">Translation</div>
        <div class="col-md-3">Editing</div>
        <div class="col-md-2">Download (<a href="">?</a>)</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4"><img width="25em" height="25em" src="http://tlwiki.org/images/4/4e/Suba_logo.png" />Subarashiki Hibi <div><small>(Wonderful Everday Discontinuous Existence)</small></div></div>
        <div class="col-md-3">47664/53520 (89.0%)</div>
        <div class="col-md-3">40597/53520 (75.9%)</div>
        <div class="col-md-2"><a href="http://tsukuru.info/dl/%5BTLWiki%5D_Subarashiki_Hibi_Partial_Patch_1.zip"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
      </div>
</div>


